@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

/*Configuração site */

*{
    padding:0px;
    margin:0px;
}
:root {
    --cor0:#9442FD;
    --cor1:#573BE3;
    --cor2:#4E5FFA;
    --cor3:#3B78E3;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Rubik Mono One', sans-serif;






}







h1 {
    text-align: center;
    font-family:var(--fonte-destaque) ;
    font-size: 2em;
    margin-bottom:20px;
    background-image: linear-gradient(to right, transparent, blue, transparent);
    
    
}

main article h2 {
    text-align: center;
    font-family:var(--fonte-destaque) ;
    font-size: 1.5em;
    margin-bottom:10px;
    background-image: linear-gradient(to right, transparent, blue, transparent);
    




}

header {
    background-color: var(--cor0);   

}

audio {
    display: block;
    margin-top:10px;
    height:40px;
    margin:auto;
    
}

nav {
    text-align: center;
    background-color: var(--cor1);
    margin-bottom: 10px;
    

}

nav a {
    margin:7px;
    font-size: 1.5em;
    font-family: var(--fonte-padrao);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration:.5s;
    color: black;  

    
}

nav a:hover {
    background-color: var(--cor2);
    padding:5px;
    color:violet;
    border-radius: 15px;
}

nav a:active {
    color:red;
}


main article {
    background-color: var(--cor0);
    margin:auto;
    max-width:500px;
    height:680px;
    text-align: center;
    margin-top:50px;
    border-radius: 20px;
    padding:20px;
   

    




}

img {
    width:100%;
    
    
}

h2 {
    background-image: linear-gradient(to right, blue, transparent);
    font-family: var(--fonte-destaque);
    margin-bottom:10px;
    margin-top:10px;

}

main article aside ol li {
    list-style: inside;
    list-style-type:decimal;
    text-decoration: none;
    line-height: 50px;
    
    
    
    
}

aside ol li a {
    text-decoration: none;

}

aside a:hover {
    background-color: var(--cor2);
    padding:5px;
    color:blueviolet;
    transition-duration:.5s;
    border-radius: 15px;
}

aside a:active {
    color:red;
}

footer {
    background-color: var(--cor1);
    color:black;
    text-align: center;
    margin-top:112px;
    padding-top:5px;
    
}

footer p a {
    text-decoration: none;
}

footer a:hover {
    background-color: var(--cor2);
    padding:5px;
    color:blueviolet;
    transition-duration:.5s;
    border-radius: 15px;
}

footer a:active {
    color:red;
}

